<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <small class="mx-4">Haven't had an account? </small>
      <a href="/register" class="btn btn-danger">Register</a href="/login">


    </div>
  </nav>
  <%if(success===false){%>
  <h1 class="text-danger"><%=message%></h1>
  <%}%>
  <div class="container">
    <form method="POST" action="/order">
      <div class="form-group">
        <label for="exampleInputEmail1">Customer</label>
        <%=user%>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Cart</label>
    <table style="width:100%">
      <tr style="text-align:center">
        <th>ITEM</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
      </tr>
      <%if(cart && cart.length>0){%>
      <%cart.forEach(item=>{%>
      <tr style="text-align:center">
        <th style="text-align:left"><img class="img" src="<%=item.image1%>" alt=""><%=item.name%></th>
        <th><%=item.price%></th>
        <th><input type="number"></th>
      </tr>
      <%})%>
      <%}%>
    </table>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ship Method</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="shipMethod">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Ship Fee</label>
    <input type="number" class="form-control" id="exampleInputPassword1" name="shipFee">
  </div>
  <button type="submit" class="btn btn-primary">Purchase</button>
  </form>
  </div>
</body>

</html>