<!DOCTYPE html>
<html lang="en">

<head>
  <title>p.s: i love me</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="hover-dropdown.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/product" id="navbarDropdown" onclick="redirect(`/product`)"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PRODUCT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%category.forEach(item=>{%>
            <a class="dropdown-item" href="/<%=item.title%>"><%=item.title%></a>
            <%})%>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <%if(!user){%>
      <a href="/login" class="btn btn-secondary mx-1">Login</a href="/login">
      <a href="/register" class="btn btn-danger">Register</a href="/login">
      <%}
            else{%>
      <a href=""><%=user.username%></a>
      <form action="/logout" method="POST">
        <button class="btn btn-secondary mx-4" type="submit">Logout</button>
      </form>
      <%}%>


        </div>
    </nav>
    <%if(title){%>
      <h3 class="container header">PRODUCT > <%=title%></h3>

      <%}else{%>
      <h3 class="container header">PRODUCT</h3>
      <%}%>
      
      <%if(user && (user.email==='dpq3005@gmail.com')){%>
      <form action="/add-product" method="GET" enctype="multipart/form-data">
        <button class="btn btn-secondary mx-4">Add product</button>
      </form>
      <form action="/addCategory" method="GET">
        <button class="btn btn-secondary mx-4">Add category</button>
      </form>
      <%}%>

      <%if(listProduct && listProduct.length>0){%>
      <div class="container">
        <div class="row">

          <%listProduct.forEach(product=>{%>
          <div class="col-md-3 col-sm-6 mx-4">
            <div class="product-grid">


              <div class="product-image">

                <a href="">
                  <img class="pic-1" src="<%=product.image1%>" alt="">
                  <img class="pic-2" src="<%=product.image2%>" alt="">
                </a>

                <ul class="social">
                  <li><a href="" data-tip="Add to cart"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                  <li><a href="" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                  <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                </ul>
              </div>
              <div class="product-content">
                <a href="/productInfo/<%=product.productID%>"><%=product.name%></a>
                <%if(user && user.email==='dpq3005@gmail.com'){%>
                <a href="/deleteProduct/<%=product.productID%>">
                  <button class="btn btn-danger">Delete</button></a>
                <a href="/updateProduct/<%=product.productID%>">
                  <button class="btn btn-primary">Edit</button></a>
                <%}%>
                <div class=" price">$<%=product.price - product.price*product.discount%></div>
            </div>
          </div>
        </div>
        <%})%>

        <%}%>


        </div>
      </div>



      <!-- Footer -->
      <footer class="page-footer font-small blue pt-4 fix-bottom">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <h5 class="text-uppercase">Shop With Us</h5>


            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Help & FAQs</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Online Ordering</a>
                </li>
                <li>
                  <a href="#!">International Shipping</a>
                </li>
                <li>
                  <a href="#!">Returns & Exchanges</a>
                </li>
                <li>
                  <a href="#!">Customer Service</a>
                </li>
                <li>
                  <a href="#!">Contact Us</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <h5 class="text-uppercase">Account</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">My Account</a>
                </li>
                <li>
                  <a href="#!">Order Status</a>
                </li>
                <li>
                  <a href="#!">Rewards</a>
                </li>
                <li>
                  <a href="#!">Gift Cards</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->


      </footer>
      <!-- Footer -->

      <script>
        const redirect = link => {
          window.location.replace(link);
        };
      </script>
</body>

</html>