<!DOCTYPE html>
<html lang="en">

<head>
  <title>p.s: i love me</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <style>
    h2 {
      font-family: sans-serif;
      color: black;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 20px;
      background: white;
      position: relative;
      animation: text 3s 1;
    }

    @keyframes text {
      0% {
        color: black;
      }

      30% {
        letter-spacing: 10px;
      }

      85% {
        letter-spacing: 2px;
      }
    }



    @font-face {
      src: url('Montserrat-Bold.ttf');
      font-family: MRB;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script>
    $(document).ready(() => {

      $('#addToCart').click(() => {
        $.ajax({
          url: '/productInfo/:id',
          type: 'POST',
          data: query,
          dataType: 'json',
          success: (data) => {
            alert(data);
            $('#cart').ejs('2');
          }
        })
      })


  </script> -->
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">p.s: i love me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sale" tabindex="-1" aria-disabled="true">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" tabindex="-1" aria-disabled="true">ABOUT US</a>
        </li>
      </ul>
      <%if(cart){%>
      <a href="" id="cart"><i style="color:black" class="fa fa-shopping-cart"></i></a>
      <%}%>
      <%if(!user){%>
      <a href="/login" class="btn btn-secondary mx-1">Login</a href="/login">
      <a href="/register" class="btn btn-danger">Register</a href="/login">
      <%}
            else{%>
      <a href=""><%=user.username%></a>
      <form action="/logout" method="POST">
        <button class="btn btn-secondary mx-4" type="submit">Logout</button>
      </form>
      <%}%>


        </div>
    </nav>
    <br>
    <div class="container">
      <h2 class="abc"><%=product.name%></h2>
      <br>
      <div class="row">
        <img class="col-md-3 image" src="<%=product.image1%>" alt="">
        <ul class="col-md-6 list-unstyled">
          <li><strong>ORIGIN</strong>: <%=product.origin%></li>
          <li><strong>IN STOCK</strong>: <%=product.inStock%></li>
          <li><strong>DESCRIPTION</strong>: <%=product.description%></li>

          <%if(product.discount>0){%>
          <li><strong>Discount</strong>: <%=product.discount*100%>%</li>
          <li><strong>Price</strong> : <del>$<%=product.price%></del>
            <h6 style="color:red">$<%=product.price - product.price*product.discount%></h6>

          </li>

          <%}else{%>
          <li><strong>Price</strong>: $<%=product.price%></li>
          <%}%>
          <br>
          <br>
          <div class="product-grid">
            <div id="addToCart"> <a href="/cart/<%=product.productID%>"><button class="btn btn-primary">Add
            to
            cart</button></a>
      </div>



      <a href="/order" class="btn btn-danger my-2 ">Purchase</button></a>

    </div>

    </ul>
    </div>
    </div>














    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 fix-bottom">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <h5 class="text-uppercase">Shop With Us</h5>


          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Help & FAQs</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Online Ordering</a>
              </li>
              <li>
                <a href="#!">International Shipping</a>
              </li>
              <li>
                <a href="#!">Returns & Exchanges</a>
              </li>
              <li>
                <a href="#!">Customer Service</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Account</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">My Account</a>
              </li>
              <li>
                <a href="#!">Order Status</a>
              </li>
              <li>
                <a href="#!">Rewards</a>
              </li>
              <li>
                <a href="#!">Gift Cards</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->


    </footer>
    <!-- Footer -->

</body>

</html>